# Backend Environment Variables
NODE_ENV=production
PORT=8000
MONGO_URI=mongodb+srv://nguyentuanvu2002hn:fgHqc7UOJPQndsui@cluster0.7xktj.mongodb.net/tours_booking?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET_KEY=gahg48589a45ajfjAUFAHHFIhufuu

# Frontend Environment Variables
REACT_APP_API_URL=https://travel-booking-backend-553i.onrender.com/api/v1

# Development Environment Variables (for Docker)
# NODE_ENV=development
# PORT=8000
# MONGO_URI=mongodb://admin:password123@mongodb:27017/travel_booking?authSource=admin
# REACT_APP_API_URL=http://localhost:8000/api/v1
